body {
  background: white;
}
p {
  color: black;
}
/*drawing subtitle*/
h1 {
  font-weight:lighter;
  font-family: fantasy;
  color: #c9aaee;
  text-shadow:-4px 3px #9c9a9a;
  text-align: center;
}
/*drawing image <div>*/
.drawing-img{
  display:flex;
  flex-direction: row;  
  justify-content: space-between;
}
/*drawing image*/
.drawing-img img {
  display:flex;
  width: 200px;
  justify-content: space-between;  
}
/*drawing image list*/ 
li{
  font-family:cursive;
  color:#141516
}
/*drawing paragraph*/
p {
  color: black;
  font-family:cursive
}
/*sublitle2*/
h2{
  font-weight: bold;
  text-align: center;
  font-weight:lighter;
  font-family: fantasy;
  color: #e6d2ff;
  text-shadow:-4px 3px #9c9a9a; 
}